.App {
  min-width: 70%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* 푸터를 하단에 고정시키기 위해 변경 */
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 0 auto; /* 페이지 중앙 정렬을 위해 수정 */ /* 추가: 마진 제거 */
  padding: 0;/* 추가: 패딩 제거 */
}

.Header{
  width: 100%;
  padding-top: 15px;
  display: flax;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffc519;
}

.Mains{  
  margin-top: 20;
  margin-bottom: 20;
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #272727; */
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #7e848f;
  position: fixed;
  /* 고정 위치 설정 */
  bottom: 0;
  /* 화면 하단에 위치하도록 설정 */
  left: 0;
}

.Footer-btn{
  display: flex;
  width: 90vw;
  margin: 4px;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
